@font-face {
    font-family: "Lato Bold";
    src: url(font/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato reg" ;
    src: url(font//Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato italic" ;
    src: url(font//Lato-i.ttf);
}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    --white-color: #fff;
    --black-color: #222222;
    --grey-color: #444444;
    --green-color: #0AA8A7;
    --green-light: #EDF6F5;
}

/* header */

header {
    height: 10vh;
}

.logo {
    position: absolute;
    margin: 2em 1em;
    color: white;
}

.logo img {
    width: 170px;
}


.menu-toggle {
  width: 100px;
  padding-top: 33px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 40px;
  color: var (--grey-light);
  visibility: visible;
  z-index: 100;
}

.close-btn {
  width: 100px;
  padding-top: 33px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
  visibility: visible;
  z-index: 4;
}

.menuLink {
  width: 100%;
  height: 110vh;
  position: fixed;
  transform: translateY(-110%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
  color: white;
  z-index: 3;
}

.menuLink a  {
  padding: 20px 0;
  margin: 0 15%;
  font-size: 50px;
  color: var(--grey-color);
}

.menuLink a:hover  {
  padding-left: 20px;
  transition: 0.4s;
  color: var(--green-color);
}

.other_link a {
    padding: 20px 0;
    margin: 0 15%;
    font-size: 50px;
    color: var(--green-color);
    position: relative;
    text-decoration: none;
}

.other_link a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background: var(--green-color);
    transition: width 500ms ease;
  }

.other_link a:hover::after {
    padding-left: 0px;
    margin-bottom: 0px;
    transition: 0.4s;
    width: 100%;
}

.hidden {
    display: none;
    transition: 0.7s;
  }

.showMenu {
  transform: translateY(-10%);
  transition: 0.7s;
}

/* BANNER */

.banner {
    padding: 30px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* text */

.banner h1 {
    font-family: "Lato bold";
    font-size: 3em;
}

.banner p, a {
    font-size: 20px;
    font-family: "Lato reg";
}

.banner > * {
    padding: 20px 0;

}

/* button */

.container_btn {
    padding-bottom: 50px;
}

.btn {
    padding: 15px 20px;
    border-radius: 70px;
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn:hover {
    background-color: white;
    color: var(--green-color);
    transition: .3s;
}




/* img */

.img_banner {
    width: 100%;
    margin: 0 auto;
    height: 50vh;
    overflow: hidden;
}

.img_banner svg {
    width: 80%;
    position: relative;
    top: -210px;
}

/* CARDS */

.cards_container {
    padding: 50px 0px;
    background-color: var(--green-light);
    display: flex;
    flex-direction: row;
}

.title {
    width: 40%;
    margin: 0 40px;
    padding-bottom: 30px;
    font-family: "Lato bold";
    font-size: 2.5em;
}

.cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    height: 200px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 20px;
}

.card h2 {
    font-family: "Lato bold";
    font-size: 20px;
}

.card p {
    padding-bottom: 20px;
    font-family: "Lato reg";
    font-size: 16px;

}

.card svg {
    width: 50px;
    fill: var(--green-color);
}

.card > * {
    padding-top: 15px ;
}

/* SERVICE 1 & 3 */

.service_1, .service_3 {
    padding: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.service_img {
    width: 60%;
    padding: 50px 0;
}

.service_img img {
    width: 100%;
}

.service_text {
    width: 40%;
}

.service_text h1 {
    font-family: "Lato bold";
    font-size: 2.5em;
}

.service_text p, a {
    font-family: "Lato reg";
    font-size: 20px;
}

.service_text > * {
    padding-bottom: 30px;
}

/* SERVICE 2 */

.service_2 {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--green-light);
}



/* GET STARTED */

.get_started {
    width: 70%;
    margin: 0 auto;
    padding: 70px 20px;
    background-color: var(--green-light);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 6px -7px rgba(0,0,0,0.5);
}

.get_started_text {
    width: 50%;
}

.get_started_text > * {
    padding-bottom: 50px;
}

.get_started_text h2 {
    font-size: 3em;
    font-family: "Lato bold";
}

.get_started_text p, a {
    font-family: "Lato reg";
    font-size: 20px;
}

.get_started_svg {
    width: 50%;
}

.get_started_svg svg {
    width: 100%;
}

.btn_3 {
    padding: 15px 40px;
    border-radius: 70px;
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn_3:hover {
    background-color: var(--green-light);
    color: var(--green-color);
    transition: .3s;
}

/* FOOTER */

footer {
    background-color: var(--green-light);
}

.container {
    height: 250px;
    margin-top: 50px;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px   ;
}

.categorie h2, img {
    font-family: "Lato bold";
    font-size: 2em;
    padding-bottom: 20px;
}

.categorie ul li, p {
    font-family: "Lato reg";
    padding-bottom: 10px;
}

.social {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.social > * {
    padding-right: 15px;
}


.social svg {
    width: 50px;
    fill: var(--green-color);
}

.copyright {
    font-family: "Lato reg";
    text-align: center;
    margin: 0 50px;
    padding: 50px;
    border-top: solid 1px var(--green-color);

}





/* MEDIAAAAAAAAAAAAAAAAAAAAAAAAAA */






@media (max-width: 1000px) {

    .logo {
        position: absolute;
        margin: 2em 1em;
        color: white;
        font-size: 20px;
    }
    
    
    .menu-toggle {
      font-size: 30px;
    }
    
    .close-btn {
      font-size: 30px;
    }
    
    
    .menuLink a  {
      font-size: 1.5em;
    }

    .banner {
        padding: 0 20px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .other_link a:after {
        height: 3px;
      }

    /* text */
    
    .banner h1 {
        font-family: "Lato bold";
        font-size: 3em;
    }
    
    .banner p, a {
        font-family: "Lato reg";
    }
    
    .banner > * {
        padding: 15px 0;
    
    }


    /* GRID */

    .cards_container {
        padding: 50px 0;
        background-color: var(--green-light);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .title {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1em;
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        margin: 0 10px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 15px;
    }

    /* SERVICE 1 */

    .service_1, .service_2, .service_3 {
        padding: 0 20px;
        flex-direction: column;

    }

    .service_img{
        width: 100%;
        padding: 20px 0;
    }

    .service_img img {
        width: 100%;
    }

    .service_text {
        width: 100%;
    }

    .service_text h1 {
        font-size: 1.5em;
    }

    .service_text p, a {
        font-size: 15px;
    }


    /* SERVICE 2 */

    .service_2 {
        padding: 0 20px;
    }

    /* SERVICE 3 */

    .service_3 {
        padding: 50px 20px;
    }

    /* GET STARTED */

    .get_started {
        width: 80%;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .get_started > * {
        padding-bottom: 30px;
    }

    .get_started_text {
        width: 100%;
    }

    .get_started_text h2 {
        padding-bottom: 15px;
        font-size: 1.5em;
    }

    .get_started_text p, a {
        padding-bottom: 40px;
        font-size: 20px;
    }

    .get_started_svg {
        width: 100%;
    }

    .get_started_svg svg {
        width: 100%;
    }

    /* FOOTER */

    .container {
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .categorie h2, img {
        font-size: 2em;
        padding-bottom: 20px;
    }

    .social {
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .social > * {
        padding-right: 15px;
    }


    .social svg {
        width: 50px;
    }
}